<?xml version="1.0"?>
<!--
/**
 * Created by Yevhen Sviet
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ys\RuleTime\Api\TimeRepositoryInterface" type="Ys\RuleTime\Model\TimeRepository"/>

</config>